@import url(@unocss/reset/tailwind.css);
@import url(overlayscrollbars/overlayscrollbars.css);

html,
body,
#app {
  --col-count: 5;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html.dark {
  color-scheme: dark;
}

body {
  --at-apply: color-base bg-base sprinkle-red;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

/* https://github.com/KingSora/OverlayScrollbars/blob/master/packages/overlayscrollbars/src/styles/themes.scss */
.dark .os-theme-dark {
  --os-handle-bg: rgba(255, 255, 255, 0.44);
  --os-handle-bg-hover: rgba(255, 255, 255, 0.55);
  --os-handle-bg-active: rgba(255, 255, 255, 0.66);
}


.bg {
  background-image: radial-gradient(ellipse 80% 80% at 50% -30%,
        rgba(254, 94, 83, 0.3),
        rgba(255, 255, 255, 0));
}